.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  background-color: black;
  height: 8%;
  width: auto;
}

.leftFooter {
  display: flex;
  flex-direction: row;
}

.rightFooter {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.rightSpans {
  margin: auto;
  padding-left: 4em;
}
.spans {
  margin: auto;
  padding-left: 4em;
}
