.image {
  min-width: 80em;
  min-height: 45em;
  height: 100%;
  width: 100%;

}

.welcome {
  position: absolute;
  left: 40;
  left: 33%;
  background: rgba(0,0,0,0.0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 40%;
}

.developer {
  height: 10%;
  width: 13%;
  border: 5px solid rgba(0,0,0,0.3);
  font-size: 70px;
  color: rgba(0,0,0,0.3);
  align-self: center;
}

.storyTeller {
  margin-top: 20px;
  height: 8%;
  width: 9%;
  border: 5px solid rgba(0,0,0,0.3);
  font-size: 40px;
  color: rgba(0,0,0,0.3);
  align-self: center;
}
.text {

}
.whatIsNew {
  height: 5%;
  width: 7%;
  border: 5px solid rgba(0,0,0,0.5);
}

.midHomePage {
  height: 100%;
  width: 100%;
}
